body{
    color:rgb(83, 62, 5);
    background-color: rgb(236, 211, 100);
    border: 5px double;

}

#p1{
    background-color:rgb(84, 156, 223);
    color:black;
}

#p2{
    background-color:rgb(83, 119, 153);
    color:black;
}